.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advance{
  width: 100px !important;
}
.remarks{
  width: 150px !important;
}
.addUser{
  cursor: pointer;
}
.loginPage{
  height: 100vh;
}