.container {
  max-height: 96vh;
  max-width: 100vw;
  margin: 1vh 2rem;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100vw;
  margin-bottom: 50px;
}
.calendarButton{
  z-index: 100;
  position: absolute;
  left: 40%;
  top:1vh;
}
.navlogo{
  height: fit-content;
  width: fit-content;
  font-weight: bolder;
  color: black;
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 5px;
}
.navlogo:hover{
  cursor: pointer;
  color: gray;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 85vh;
}
.mainId {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.addanemp{
  display: flex;
  height:60px;
  align-items:center;
  justify-content: flex-end;
}
.search{
  display: flex;
  height:60px;
  align-items:center;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: 10px;
}
.stats{
  display: flex !important;
  width: 100vw !important;
  justify-content: space-evenly;
}
.expanded{
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  width: 100vw;
}
.notMarked{
  display: flex;
  width: 100w;
  justify-content: center;
}
.viewDetail{
  color: chocolate;
  cursor: pointer;
}
.advance{
  width: 100px !important;
}
.unsavedChanges{
  font-weight: bolder;
}
.sticky{
  display: flex;
  justify-content: space-between;
  background-color: rgb(221, 219, 219);
  height: 40px;
  align-items: center;
  border-radius: 5px;
}
.remarks{
  width: 150px !important;
}
.addUser{
  cursor: pointer;
}
.loginPage{
  min-height: 100vh;
}
.loginImage{
  height: 100vh;
  width: 60vw;
}
.loginPageContainer{
  display: flex;
}
.loginLeft{
  display: flex;
  flex: 50%;
}
.loginRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 50%;
}
.addUser{
  font-size: 2.3rem !important;
}
.present{
  color:green;
}
.absent{
  color:red;
}
.notMarked{
  color:yellow;
}
.tableResponsive{
  max-width: 100vw !important;
  display: block;
  overflow-x: auto;
  min-height: max-content;
}
@media screen and (max-width:800px) {
  .loginPageContainer{
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  .loginImage{
    height: 70vh;
    width: 100vw;
    padding-bottom: 1rem;
  }
  .loginRight{
    width: 100vw;
    padding-bottom: 1rem;
  }
}
@media screen and (max-width:550px) {
  .expanded{
    width: 90vw;
  }
}
@media screen and (max-width:450px) {
  .expanded{
    width: 80vw;
  }
}